	<div><%= link_to "Home", root_path %>
 : <a href="/">Home</a></div>

	<%=form_for @creature do |f| %>
	Name: <%= f.text_field :name %>
	Description: <%= f.text_area :description %>
	<%= f.submit "save creature" %>
	<%end%>