<!-- Create new form -->
    <div class="form" >
        <ul class="tab-group">
            <li class="tab active"><a style=" width : 100%">Edit the Bike</a></li>
        </ul>
            <div id="signup">   
                <h1 style="color: white">Edit this Bike</h1>
                <%= form_for @bike do |f| %>
                    <div class="top-row">
                        <div id='field1' class="field-wrap">
                            <%= f.label :name %>
                            <%= f.text_field :name %>
                        </div>
                        <div id='field2' class="field-wrap">
                            <%= f.label :image%>
                            <%= f.text_field :image %>
                        </div>
                    </div>
                    <div id='field3' class="field-wrap">
                        <%= f.label :property %>
                        <%= f.text_field :property %>
                    </div>
                    <br>
                    <br>
                    <%= f.submit "Update", :id =>'update' ,:class => 'button button-block' %>
                <% end %>
            </div>
        </div>
        